<h2>Monthly Progress for <%= "#{num_to_month(@date.month)} #{@date.year}" %></h2>

<form method="post" action="/goals/getdate">
  <div>
    <label for="date">Choose a month: </label>
    <select required name="date" id="date">
      <% @valid_dates.each do |date| %>
        <option value="<%= date.to_s %>"><%= "#{num_to_month(date.month)} #{date.year}" %></option>
      <% end %>
    </select>
  </div>
  <div>
    <button>Load Month</button>
  </div>
</form>

<br>

<table>
  <tr>
    <th>Category</th>
    <th>Spent</th>
    <th>Goal</th>
  </tr>
  <% @category_data.each do |tuple| %>
    <tr>
      <td><%= tuple[:category] %></td>
      <td>$ <%= zero_if_nil(tuple[:total_spending]) %></td>
      <td>$ <%= tuple[:goal] %>  </td>
      <td>
        <form method="post" action="/goals/deletegoal/<%= tuple[:goal_id] %>">
          <button>Delete</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>

<br>
<h4>Add Category</h4>
<form method="post" action="/goals/addgoal">
  <div>
    <label for="category">New Category Name: </label>
    <input type="text" name="category" id="category" required>
  </div>
  <div>
    <label for="amount">Monthly Goal Amount: $</label>
    <input type="text" name="amount" id="amount" required>
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>