<h2>Spending</h2>

<form method="post" action="/spending/add">
  <fieldset>
    <legend>Choose category: </legend>
    <% all_goals.each do |tuple| %>
      <input type="radio" id="<%= tuple[:id] %>" name="category_chosen" value="<%= tuple[:id] %>">
      <label for="<%= tuple[:id] %>"><%= tuple[:category] %></label>
      <a href="/spending/<%= tuple[:id] %>/current">Transactions</a><br><br>
    <% end %>
  </fieldset>
  <div>
    <label for="name">Item Name: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div>
    <label for="amount">Amount: $</label>
    <input type="text" name="amount" id="amount" required>
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>